<form>

    <img src="assets/client.png">

    <input type="text" placeholder="Name" class="form-control">
    <input type="number" placeholder="Age" class="form-control">
    <input type="text" placeholder="City" class="form-control">

    <input type="button" value="Register" *ngIf="btnRegister" class="btn btn-primary">
    <input type="button" value="Update" *ngIf="!btnRegister" class="btn btn-warning">
    <input type="button" value="Delete" *ngIf="!btnRegister" class="btn btn-danger">
    <input type="button" value="Cancel" *ngIf="!btnRegister" class="btn btn-secondary">

</form>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>age</th>
            <th>city</th>
            <th>select</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let savClients of clients">

            <td></td>
            <td>{{savClients.name}}</td>
            <td>{{savClients.age}}</td>
            <td>{{savClients.city}}</td>
            <td><button class="btn btn-sucess">Select</button></td>

    </tbody>


</table>