<form>

    <img src="assets/client.png">

    <input type="text"   placeholder="Name" class="form-control" name="name" [(ngModel)]="client.name"> 
    <input type="number" placeholder="Age"  class="form-control" name="age"  [(ngModel)]="client.age">
    <input type="text"   placeholder="City" class="form-control" name="city" [(ngModel)]="client.city">

    <input type="button" value="Register" *ngIf= "btnRegister"  class= "btn btn-primary" (click)= "register()">
    <input type="button" value="Update"   *ngIf= "!btnRegister" class= "btn btn-warning" (click)= "update()">
    <input type="button" value="Delete"   *ngIf= "!btnRegister" class= "btn btn-danger" (click)= "remove()" >
    <input type="button" value="Cancel"   *ngIf= "!btnRegister" class= "btn btn-secondary">

</form>

<!--<h1>{{client | json}}</h1>-->

<table class="table" *ngIf="table" >
    <thead>
        <tr>
            <th>#</th> 
            <th>name</th>
            <th>age</th>
            <th>city</th>
            <th>select</th>
        </tr>
    </thead>

    <tbody>
 
        <tr *ngFor="let savClients of clients; index as i">

            <td>{{i+1}}</td>
            <td>{{savClients.name}}</td>
            <td>{{savClients.age}}</td>
            <td>{{savClients.city}}</td>
            <td><button class="btn btn-success" (click)="selectClient(i)">Select</button></td>

            </tr>

    </tbody>

</table>